.super-container{
        --claro-total: "#fcf1c7";
    --claro-total: "#fcf1c7";
    --royal-gold: #ffe169ff;
--mustard: #fad643ff;
--saffron: #edc531ff;
--metallic-gold: #dbb42cff;
--golden-bronze: #c9a227ff;
--dark-goldenrod: #b69121ff;
--dark-goldenrod-2: #a47e1bff;
--golden-earth: #926c15ff;
--olive-bark: #805b10ff;
--olive-bark-2: #76520eff;
}